.site-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;

    .head {
        padding: 0 30px;
        height: 71px;

        .search {
            .menu-icon {
                .bar {
                    height: 2px;
                    width: 25px;
                    background-color: #000;
                }
            }

            .search-input {
                input {
                    outline: none;
                    border: none;
                    height: 38px;
                    background-color: #f3f3f9;
                    padding-left: 35px;
                    margin-left: 10px;
                }

                .search-icon {
                    left: 20px;
                }
            }
        }

        .notification {
            .dropdown {
                .btn {

                    .notice-board {
                        background-color: #f56e50;
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        font-size: 10px;
                        font-weight: 600;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: -5px;
                        right: 12px;
                    }
                }

                .dropdown-menu {
                    height: 400px;
                    width: 320px;
                    border-radius: 10px;
                    overflow: hidden;

                    .dropdown-menu-header {
                        height: 50px;
                        width: 100%;

                        li {
                            p {
                                font-size: 17px;
                                font-weight: 600;
                                color: #adb5bd;
                            }

                            a {
                                font-size: 14px;
                            }
                        }
                    }

                    .notes {
                        height: 298px;
                        width: 320px;
                        overflow-y: auto;

                        ul {

                            li {
                                .dropdown-item {
                                    div {
                                        width: 50px;

                                        .notice-icon {
                                            height: 40px;
                                            width: 40px;
                                            border-radius: 50%;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: cover;

                                            img {
                                                object-fit: cover;
                                                object-position: center;
                                            }
                                        }
                                    }


                                    .inform {
                                        h6 {
                                            font-size: 17px;
                                            font-weight: 600;
                                            color: #adb5bd;
                                        }

                                        p {
                                            font-size: 13px;
                                            color: #9599ad;
                                        }

                                        small {
                                            font-size: 13px;
                                            color: #9599ad;
                                        }
                                    }
                                }
                            }
                        }

                        scrollbar-width: none;

                        &::-webkit-scrollbar {
                            width: 8px;
                        }

                        &::-webkit-scrollbar-track {
                            background: #fff;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: #fafafa;
                            border-radius: 30px;
                        }

                    }

                    .Notifications-footer {
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .user {
            .dropdown {
                .btn {
                    .image {
                        background-image: url("/assets/images/cool-profile-pictures-retouching-1.webp");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                    }

                    .user-name {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    // img {
                    //     height: 20px;
                    //     width: 32px;
                    // }
                }

                .dropdown-menu {
                    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                    border: 1px solid #e9ebec;
                    margin-top: 20px !important;


                    .dropdown-item {
                        span {
                            min-width: 39px;
                        }

                        img {
                            height: 15px;
                            width: 32px;
                        }

                        font-size: 14px;
                        font-weight: 600;
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}