<header class="site-header">
    <div class="head d-flex align-items-center justify-content-between">
        <div class="search d-flex align-items-center">
            <div class="menu-icon" (click)="toggleSidebar()">
                <div class="bar"></div>
                <div class="bar my-1"></div>
                <div class="bar"></div>
            </div>

            <div class="search-input d-flex align-items-center position-relative">
                <input type="text" name="search" placeholder="Search...">
                <div class="search-icon position-absolute">
                    <img src="assets/images/magnifier.png" alt="">
                </div>
            </div>

        </div>
        <div class="user">
            <ul class="list-unstyled d-flex align-items-center m-0 gap-5">
                <li>
                    <div class="dropdown">
                        <button class="btn p-0 border-0 d-flex align-items-center" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="assets/images/us.jpg" alt="flag" class="img-fluid"
                                style="height: 20px; width: 32px;">
                        </button>
                        <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton1">
                            <li class="">
                                <a class="dropdown-item d-flex align-items-center p-2" href="#">
                                    <span class="pe-1">
                                        <img src="assets/images/us.jpg" alt="">
                                    </span> English
                                </a>
                            </li>
                            <li class="">
                                <a class="dropdown-item p-2" href="#">
                                    <span class="pe-1">
                                        <img src="assets/images/spain.jpg" alt="">
                                    </span> Spanish
                                </a>
                            </li>
                            <li class="">
                                <a class="dropdown-item p-2" href="#">
                                    <span class="pe-1">
                                        <img src="assets/images/germany.jpg" alt="">
                                    </span> German
                                </a>
                            </li>
                            <li class="">
                                <a class="dropdown-item p-2" href="#">
                                    <span class="pe-1">
                                        <img src="assets/images/italy.jpg" alt="">
                                    </span> Italian
                                </a>
                            </li>
                            <li class="">
                                <a class="dropdown-item p-2" href="#">
                                    <span class="pe-1">
                                        <img src="assets/images/russia.jpg" alt="">
                                    </span> Russian
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="notification">
                    <div class="dropdown">

                        <button class="btn position-relative p-0 border-0 d-flex align-items-center" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="assets/images/bell.png" alt="flag" class="img-fluid">
                            <div class="notice-board position-relative">
                                3
                            </div>
                        </button>

                        <ul class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton1">
                            <ul
                                class="list-unstyled dropdown-menu-header d-flex align-items-center justify-content-between m-0 px-2">
                                <li>
                                    <p class="m-0">Notifications</p>
                                </li>
                                <li>
                                    <a class="text-decoration-none" href="">View All</a>
                                </li>
                            </ul>
                            <div class="notes">
                                <ul class="list-unstyled">
                                    <li class="">
                                        <a class="dropdown-item d-flex p-2" href="#">
                                            <div>
                                                <span
                                                    class="notice-icon d-inline-block d-flex align-items-center justify-content-center"
                                                    style="background-image: url(/assets/images/germany.jpg);">
                                                </span>
                                            </div>
                                            <div class="inform">
                                                <h6 class="m-0">Your order is placed</h6>
                                                <p class="m-0 py-1">If several languages coalesce the grammar
                                                </p>
                                                <small>
                                                    3 min ago
                                                </small>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item d-flex p-2" href="#">
                                            <div>
                                                <span
                                                    class="notice-icon d-inline-block d-flex align-items-center justify-content-center"
                                                    style="background-image: url(/assets/images/avatar-3.jpg);">
                                                </span>
                                            </div>
                                            <div class="inform">
                                                <h6 class="m-0">Your order is placed</h6>
                                                <p class="m-0 py-1">If several languages coalesce the grammar</p>
                                                <small>
                                                    3 min ago
                                                </small>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item d-flex p-2" href="#">
                                            <div>
                                                <span
                                                    class="notice-icon d-inline-block d-flex align-items-center justify-content-center"
                                                    style="background-image: url(/assets/images/avatar-4.jpg);">
                                                </span>
                                            </div>
                                            <div class="inform">
                                                <h6 class="m-0">Your order is placed</h6>
                                                <p class="m-0 py-1">If several languages coalesce the grammar</p>
                                                <small>
                                                    3 min ago
                                                </small>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item d-flex p-2" href="#">
                                            <div>
                                                <span
                                                    class="notice-icon d-inline-block d-flex align-items-center justify-content-center"
                                                    style="background-image: url(/assets/images/avatar-3.jpg);">
                                                </span>
                                            </div>
                                            <div class="inform">
                                                <h6 class="m-0">Your order is placed</h6>
                                                <p class="m-0 py-1">If several languages coalesce the grammar</p>
                                                <small>
                                                    3 min ago
                                                </small>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="dropdown-item d-flex p-2" href="#">
                                            <div>
                                                <span
                                                    class="notice-icon d-inline-block d-flex align-items-center justify-content-center"
                                                    style="background-image: url(/assets/images/avatar-4.jpg);">
                                                </span>
                                            </div>
                                            <div class="inform">
                                                <h6 class="m-0">Your order is placed</h6>
                                                <p class="m-0 py-1">If several languages coalesce the grammar If several
                                                    languages coalesce the grammar</p>
                                                <small>
                                                    3 min ago
                                                </small>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="Notifications-footer">
                                <a href="" class="text-decoration-none">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                                        </svg>
                                    </span>
                                    View More...
                                </a>
                            </div>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn p-0 border-0 d-flex align-items-center" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="image">
                            </div>
                            <div class="user-name ps-2">
                                User-name
                            </div>
                        </button>
                        <ul class="dropdown-menu overflow-hidden border-0 p-0" aria-labelledby="dropdownMenuButton1">
                            <li class="">
                                <a class="dropdown-item p-2 " href="#">
                                    <span class="pe-2"><img src="assets/images/logout.png" style="height: 28px;"
                                            class="img-fluid"></span> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>