<div class="sidenav">
    <div class="logo d-flex align-items-center justify-content-center">
        Liquor
    </div>
    <div class="devide">

    </div>
    <div class="menu-list">
        <ul class="ps-0">
            <li class="list-item" routerLink="home" routerLinkActive="list-item">
                <a href="" class="d-flex align-items-center">
                    <mat-icon>home</mat-icon>
                    <div class="ps-3">Home</div>
                </a>
            </li>
            <li class="list-item" routerLink="dashboard" routerLinkActive="list-item">
                <a href="" class="d-flex align-items-center">
                    <mat-icon>dashboard</mat-icon>
                    <div class="ps-3">Dashboard</div>
                </a>
            </li>
            <li class="list-item" routerLink="user" routerLinkActive="list-item">
                <a href="" class="d-flex align-items-center">
                    <mat-icon>account_box</mat-icon>
                    <div class="ps-3">User</div>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="d-flex align-items-center">
                    <mat-icon>edit</mat-icon>
                    <div class="ps-3">Link 2</div>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="d-flex align-items-center">
                    <mat-icon>edit</mat-icon>
                    <div class="ps-3">Link 3</div>
                </a>
            </li>
            <li class="list-item">
                <a href="" class="d-flex align-items-center">
                    <mat-icon>edit</mat-icon>
                    <div class="ps-3">Link 4</div>
                </a>
            </li>
        </ul>
    </div>
</div>