.sidenav {
    .logo {
        font-size: 50px;
        color: #f7f7f7;
        height: 70px;
    }

    .devide {
        height: 2px;
        background-color: #fff;
    }

    .menu-list {
        padding-top: 20px;

        ul {
            .list-item{
                &:focus{
                    background-color: #2c3344;
                }
            }
            li {
                height: 44px;
                margin-bottom: 5px;
                border-radius: 5px;
                margin: 0 2px;
                padding: 0 10px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: #2c3344;
                }

                a {
                    color: #94a3b8;
                    text-decoration: none;
                    font-size: 1rem;
                }
            }
        }
    }
}