<div class="home-page">
    <!---- DASHBOARD HEADING SECTION ---->
    <section class="home-section d-flex align-items-center">
        <div class="container-fluid">
            <div class="heading">
                <h1 class="m-0 text-white">Users</h1>
            </div>
        </div>
    </section>
    <!---- RECENT USERS SECTION ---->
    <section class="latest-transactions-section mt-3 px-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="sales-analytics px-4">
                        <div class="sales-header d-flex align-items-center justify-content-between">
                            <div class="logo">
                                <p class="m-0">Users</p>
                            </div>
                            <div class="sort d-flex align-items-center">
                                    <button class="user-button me-3">
                                         Add User
                                    </button>
            
                                    <button class="user-button">
                                        Remove User
                                    </button>
                            </div>
                        </div>
                        <div class="latest-transactions changes-tabel">
                            <table>
                                <thead>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Job title
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Phone
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Location
                                    </th>
                                    <th>

                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-3.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-4.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/cool-profile-pictures-retouching-1.webp);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-2.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm cancel">
                                                    Blocked
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-5.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-1.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-3.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-4.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-3.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-4.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/cool-profile-pictures-retouching-1.webp);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-2.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm cancel">
                                                    Blocked
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-5.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-1.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-3.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            #12354781
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="latest-customer"
                                                    style="background-image: url(/assets/images/avatar-4.jpg);">
                                                </div>
                                                <span class="ps-2">
                                                    Herbert C. Patton
                                                </span>
                                            </div>
                                        </td>
                                        <td class="text-nowrap">
                                            Designer
                                        </td>
                                        <td class="text-nowrap">
                                            annac@hotmai.us
                                        </td>
                                        <td class="text-nowrap">
                                            (216) 76 298 896
                                        </td>
                                        <td class="text-nowrap">
                                            <div class="d-flex align-items-center">
                                                <div class="confirm delivered">
                                                    Active
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Philippines
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn border-0 p-0" type="button" id="dropdownMenuButton1"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="#9a9ea2" class="bi bi-three-dots-vertical"
                                                        viewBox="0 0 16 16">
                                                        <path
                                                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuButton1">
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> create</mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Edit
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                                            <mat-icon> delete </mat-icon>
                                                            <span class="d-inline-block ms-2">
                                                                Deleat
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>