.home-page {
    width: 100%;
    height: calc(100vh - 70px);

    /*----- DASHBOARD HEADING SECTION SCSS ------*/
    .home-section {
        background-color: #1e293b;
        height: 80px;

        .heading {
            padding: 0 17px;

            h1 {
                font-size: 30px;
                font-weight: 500;
            }
        }
    }

    /*----- LATEST TRANSACTIONS AND RECENT USERS SECTION SCSS ------*/
    .latest-transactions-section {
        margin-top: 10px;
        padding: 17px;

        .sales-analytics {
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid #e9ebec;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            .sales-header {
                height: 50px;

                .logo {
                    font-size: 17px;
                    font-weight: 600;
                    color: #495057;
                }

                .sort {
                    .user-button {
                        background-color: #1a73e8;
                        border: none;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 16px;
                        font-weight: 400;
                        padding: 5px 20px;
                    }
                }
            }

            .latest-transactions {
                height: calc(100vh - 254px);
                overflow: auto;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: #fff;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #fafafa;
                    border-radius: 30px;
                }

                table {
                    width: 100%;

                    thead {
                        background-color: #eff2f7;

                        th {
                            padding: 15px 16px;
                            font-weight: 600;
                        }
                    }

                    tbody {
                        tr {

                            td {
                                padding: 10px 16px;

                                .latest-customer {
                                    height: 35px;
                                    width: 35px;
                                    border-radius: 50%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;

                                    img {
                                        object-fit: cover;
                                        object-position: center;
                                    }
                                }

                                .confirm {
                                    height: 15px;
                                    width: 15px;
                                    border-radius: 50%;
                                    background-color: #2cb57e;
                                }

                                .delivered {
                                    background-color: rgba(44, 181, 126, 0.15) !important;
                                    height: auto;
                                    width: auto;
                                    border-radius: 30px;
                                    font-size: 11px;
                                    padding: 1px 10px;
                                    color: #61b045;
                                }

                                .cancel {
                                    background-color: rgba(245, 110, 80, 0.15) !important;
                                    height: auto;
                                    width: auto;
                                    border-radius: 30px;
                                    font-size: 11px;
                                    padding: 1px 10px;
                                    color: #f56e50;
                                }

                                .shipped {
                                    background-color: rgba(245, 189, 88, 0.15) !important;
                                    height: auto;
                                    width: auto;
                                    border-radius: 30px;
                                    font-size: 11px;
                                    padding: 1px 10px;
                                    color: #ffc83d;
                                }

                                .red {
                                    background-color: #f56e50;
                                }

                                .orange {
                                    background-color: #f5bd58;
                                }

                                .edit-btn {
                                    background-color: #eff2f7;
                                    border: none;
                                    font-size: 16px;
                                    color: #000;
                                    height: 35px;
                                    width: 80px;
                                    border-radius: 5px;
                                }

                                span {
                                    color: #9a9ea2;
                                    font-size: 15px;
                                }

                                color: #9a9ea2;
                                font-size: 15px;
                            }

                            &:nth-child(odd) {
                                background-color: #f8f9fa;
                                border-top: 1px solid #eff2f7;
                                border-bottom: 1px solid #eff2f7;
                            }
                        }

                        .dropdown {
                            .btn {
                                font-size: 15px;
                                font-weight: 500;
                                outline: none;
                                border: none;
                            }

                            .dropdown-menu {
                                margin-top: 10px;
                                border: 1px solid transparent;
                                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                                overflow: hidden;

                                li {
                                    a {
                                        padding: 10px 15px;
                                    }
                                }

                                mat-icon {
                                    color: #9a9ea2;
                                }
                            }
                        }
                    }
                }
            }

            /*----- RECENT USERS SECTION SCSS ------*/
            .changes-tabel {
                table {
                    tbody {
                        tr {
                            &:nth-child(odd) {
                                background-color: transparent !important;
                                border-top: none !important;
                                border-bottom: none !important;
                            }

                            &:hover {
                                background-color: #f8f9fa !important;
                            }
                        }
                    }
                }
            }
        }
    }

}