.home-page {
    width: 100%;
    height: calc(100vh - 70px);

    /*----- DASHBOARD HEADING SECTION SCSS ------*/
    .home-section {
        background-color: #1e293b;
        height: 80px;

        .heading {
            padding: 0 17px;

            h1 {
                font-size: 30px;
                font-weight: 500;
            }
        }
    }

    /*----- HOME MAIN SECTION SCSS ------*/
    .home-main {
        background-color: #f8f8f8;

        .home-contant {
            margin-top: 10px;
            padding: 17px;
            border-radius: 10px;

            .Revenue {
                border-radius: 10px;
                background-color: #fff;
                border: 1px solid #e9ebec;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                @media only screen and (min-width: 1200px) and (max-width: 1240px) {
                    display: flex;
                    align-items: center !important;
                }

                .total {
                    p {
                        font-size: 15px;
                        font-weight: 600;
                        color: #9599ad;
                        letter-spacing: 1px;
                        text-transform: uppercase;

                    }

                    h4 {
                        font-weight: 600;
                        letter-spacing: 1px;
                    }

                    ul {
                        li {
                            color: #9599ad;
                            font-size: 16px;
                            font-weight: 400;

                            span {
                                color: #2cb57e;
                                background-color: rgba(44, 181, 126, 0.18);
                                font-size: 12px;
                                padding: 1px 5px;
                                border-radius: 5px;

                                img {
                                    width: 18px;
                                }
                            }

                            .refunds {
                                background-color: #fde5df;
                                color: #f56e50;
                            }

                            .orders {
                                color: #f5bd58;
                                background-color: rgba(245, 189, 88, 0.18);
                            }
                        }
                    }
                }

                .avatar {
                    .avatar-title {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        background-color: #eff2f7;
                    }
                }
            }
        }
    }

    /*----- ANALYTICS SECTION SCSS ------*/
    .analytics {
        .sales-analytics {
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid #e9ebec;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            .sales-header {
                height: 50px;

                .logo {
                    font-size: 17px;
                    font-weight: 600;
                    color: #495057;
                }

                .sort {
                    .dropdown {
                        .btn {
                            font-size: 15px;
                            font-weight: 500;
                            outline: none;
                            border: none;

                            span {
                                color: #9599ad;
                            }
                        }

                        .dropdown-menu {
                            margin-top: 10px;
                            border: 1px solid #e9ebec;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        }
                    }
                }
            }

            .Sales-Analytics-body {
                @media only screen and (min-width: 1321px) and (max-width: 1400px) {
                    height: 337px;
                }

                @media only screen and (min-width: 1401px) and (max-width: 1785px) {
                    height: 360px;
                }

                ul {
                    li {
                        font-size: 16px;
                        color: #9599ad;

                        @media only screen and (min-width: 1200px) and (max-width: 1400px) {
                            font-size: 16px;
                        }

                        .blank {
                            height: 40px;
                            width: 2px;
                            background-color: #eff2f7;
                        }

                        span {
                            font-size: 28px;
                            font-weight: 600;
                            color: #495057;

                            @media only screen and (min-width: 1200px) and (max-width: 1500px) {
                                font-size: 18px;
                            }
                        }

                        .blue {
                            color: #0576b9;
                        }
                    }
                }
            }
        }

        .Revenue {
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid #e9ebec;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            @media only screen and (min-width: 1200px) and (max-width: 1320px) {
                height: 203px;
            }

            .avatar {
                .avatar-title {
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    background-color: #eff2f7;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: #000;

                    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
                        font-size: 15px;
                    }

                    span {
                        font-weight: 600;
                    }
                }

                .update-button {
                    background-color: #2cb57e;
                    color: #fff;
                    height: 35px;
                    padding: 0 15px;
                    margin-top: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                    border-radius: 5px;

                    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                ul {
                    li {
                        font-size: 16px;
                        color: #9599ad;

                        @media only screen and (min-width: 1200px) and (max-width: 1400px) {
                            font-size: 14px;
                        }

                        .blank {
                            height: 60px;
                            width: 2px;
                            background-color: #eff2f7;
                        }

                        span {
                            font-size: 24px;
                            font-weight: 600;
                            color: #495057;

                            @media only screen and (min-width: 1200px) and (max-width: 1400px) {
                                font-size: 18px;
                            }
                        }

                        .blue {
                            color: #0576b9;
                        }
                    }
                }

                .upgrade {
                    font-size: 16px;
                    color: #9599ad;

                    img {
                        height: 15px;
                        width: 15px;
                    }
                }

                .genrate-button {
                    background-color: #0576b9;
                    border: none;
                    font-size: 14px;
                    color: #fff;
                    padding: 2px 10px;
                    border-radius: 5px;
                }
            }

            .total-header {
                height: 50px;

                .logo {
                    font-size: 17px;
                    font-weight: 600;
                    color: #495057;

                    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
                        font-size: 15px;
                    }
                }

                .sort {
                    .dropdown {
                        .btn {
                            font-size: 15px;
                            font-weight: 500;
                            outline: none;
                            border: none;

                            span {
                                color: #9599ad;
                            }
                        }

                        .dropdown-menu {
                            margin-top: 10px;
                            border: 1px solid #e9ebec;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        }
                    }
                }
            }
        }
    }

    /*----- LATEST TRANSACTIONS AND RECENT USERS SECTION SCSS ------*/
    .latest-transactions-section {
        padding-bottom: 17px;

        .sales-analytics {
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid #e9ebec;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            .sales-header {
                height: 50px;

                .logo {
                    font-size: 17px;
                    font-weight: 600;
                    color: #495057;
                }

                .sort {
                    .dropdown {
                        .btn {
                            font-size: 15px;
                            font-weight: 500;
                            outline: none;
                            border: none;

                            span {
                                color: #9599ad;
                            }
                        }

                        .dropdown-menu {
                            margin-top: 10px;
                            border: 1px solid #e9ebec;
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                        }
                    }
                }
            }

            .latest-transactions {
                height: 350px;
                overflow: auto;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    width: 4px;
                }

                &::-webkit-scrollbar-track {
                    background: #fff;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #fafafa;
                    border-radius: 30px;
                }

                table {
                    width: 100%;

                    thead {
                        background-color: #eff2f7;

                        th {
                            padding: 15px 16px;
                            font-weight: 600;
                        }
                    }

                    tbody {
                        tr {

                            td {
                                padding: 10px 16px;

                                .latest-customer {
                                    height: 35px;
                                    width: 35px;
                                    border-radius: 50%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;

                                    img {
                                        object-fit: cover;
                                        object-position: center;
                                    }
                                }

                                .confirm {
                                    height: 15px;
                                    width: 15px;
                                    border-radius: 50%;
                                    background-color: #2cb57e;
                                }

                                .delivered {
                                    background-color: rgba(44, 181, 126, 0.15) !important;
                                    height: auto;
                                    width: auto;
                                    border-radius: 30px;
                                    font-size: 11px;
                                    padding: 1px 10px;
                                    color: #61b045;
                                }

                                .cancel {
                                    background-color: rgba(245, 110, 80, 0.15) !important;
                                    height: auto;
                                    width: auto;
                                    border-radius: 30px;
                                    font-size: 11px;
                                    padding: 1px 10px;
                                    color: #f56e50;
                                }

                                .shipped {
                                    background-color: rgba(245, 189, 88, 0.15) !important;
                                    height: auto;
                                    width: auto;
                                    border-radius: 30px;
                                    font-size: 11px;
                                    padding: 1px 10px;
                                    color: #ffc83d;
                                }

                                .red {
                                    background-color: #f56e50;
                                }

                                .orange {
                                    background-color: #f5bd58;
                                }

                                .edit-btn {
                                    background-color: #eff2f7;
                                    border: none;
                                    font-size: 16px;
                                    color: #000;
                                    height: 35px;
                                    width: 80px;
                                    border-radius: 5px;
                                }

                                span {
                                    color: #9a9ea2;
                                    font-size: 15px;
                                }

                                color: #9a9ea2;
                                font-size: 15px;
                            }

                            &:nth-child(odd) {
                                background-color: #f8f9fa;
                                border-top: 1px solid #eff2f7;
                                border-bottom: 1px solid #eff2f7;
                            }
                        }

                        .dropdown {
                            .btn {
                                font-size: 15px;
                                font-weight: 500;
                                outline: none;
                                border: none;
                            }

                            .dropdown-menu {
                                margin-top: 10px;
                                border: 1px solid #e9ebec;
                                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            }
                        }
                    }
                }
            }

            /*----- RECENT USERS SECTION SCSS ------*/
            .changes-tabel {
                table {
                    tbody {
                        tr {
                            &:nth-child(odd) {
                                background-color: transparent !important;
                                border-top: none !important;
                                border-bottom: none !important;
                            }

                            &:hover {
                                background-color: #f8f9fa !important;
                            }
                        }
                    }
                }
            }
        }

        .Revenue {
            border-radius: 10px;
            background-color: #fff;
            border: 1px solid #e9ebec;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


            .avatar {
                .avatar-title {
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    background-color: #eff2f7;
                }

                p {
                    font-size: 18px;
                    font-weight: 500;
                    color: #000;

                    span {
                        font-weight: 600;
                    }
                }

                .update-button {
                    background-color: #2cb57e;
                    color: #fff;
                    height: 35px;
                    padding: 0 15px;
                    margin-top: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                    border-radius: 5px;
                }
            }
        }
    }

}