<div class="home-page">
    <section class="home-section d-flex align-items-center">
        <div class="container-fluid">
            <div class="heading">
                <h1 class="m-0 text-white">Home</h1>
            </div>
        </div>
    </section>
    <section class="home-main">
        <div class="container-fluid">
            <div class="home-contant">
                <p>Home Page Content</p>
            </div>
        </div>
    </section>
</div>