.home-page {
    width: 100%;
    height: calc(100vh - 70px);

    .home-section {
        background-color: #1e293b;
        height: 80px;

        .heading {
            padding: 0 17px;

            h1 {
                font-size: 30px;
                font-weight: 500;
            }
        }
    }

    .home-main {
        .home-contant {
            padding: 17px;
            overflow: auto;
            background-color: #fff;
            height: calc(100vh - 160px);
            margin-top: -1rem;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
}